.item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.layer {
    position: absolute;

    bottom:-50%;
    left:15px;
    right:15px;
    background-color: #fff;
    text-align: center;
    transition: bottom 1s;
}

.item:hover .layer{
    bottom: 15px;
}

#boxContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.276);
    display:  none;
    justify-content: center;
    align-items: center;
}

.innerBox{
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 500px;
}

.innerBox i {
    cursor: pointer;
}